:root {
    --rz-white: #ffffff;
    --rz-black: #000000;
    --rz-base-50: #fafafa;
    --rz-base-100: #f5f5f5;
    --rz-base-200: #eeeeee;
    --rz-base-300: #e0e0e0;
    --rz-base-400: #bdbdbd;
    --rz-base-500: #9e9e9e;
    --rz-base-600: #757575;
    --rz-base-700: #616161;
    --rz-base-800: #424242;
    --rz-base-900: #212121;
    --rz-primary: #f1f1f1;
    --rz-primary-light: #f7f7f7;
    --rz-primary-lighter: rgba(255, 255, 255, 0.12);
    --rz-primary-dark: #333232;
    --rz-primary-darker: #141414;
    --rz-secondary: #496341;
    --rz-secondary-light: #779c43;
    --rz-secondary-lighter: rgba(12, 202, 18, 0.12);
    --rz-secondary-dark: #2d3b19;
    --rz-secondary-darker: #1d2610;
    --rz-tertiary: #878686;
    --rz-tertiary-light: #b3b1b1;
    --rz-tertiary-lighter: rgba(114, 116, 116, 0.12);
    --rz-tertiary-dark: #807e7e;
    --rz-tertiary-darker: #696868;
    --rz-info: #2196f3;
    --rz-info-light: #4dabf5;
    --rz-info-lighter: rgba(33, 150, 243, 0.2);
    --rz-info-dark: #1a78c2;
    --rz-info-darker: #1666a5;
    --rz-success: #4caf50;
    --rz-success-light: #70bf73;
    --rz-success-lighter: rgba(76, 175, 80, 0.16);
    --rz-success-dark: #3d8c40;
    --rz-success-darker: #347736;
    --rz-warning: #ff9800;
    --rz-warning-light: #ffad33;
    --rz-warning-lighter: rgba(255, 152, 0, 0.2);
    --rz-warning-dark: #cc7a00;
    --rz-warning-darker: #ad6700;
    --rz-danger: #f44336;
    --rz-danger-light: #f6695e;
    --rz-danger-lighter: rgba(244, 67, 54, 0.2);
    --rz-danger-dark: #c3362b;
    --rz-danger-darker: #a62e25;
    --rz-series-1: #1b5e20;
    --rz-series-2: #2e7d32;
    --rz-series-3: #388e3c;
    --rz-series-4: #43a047;
    --rz-series-5: #4caf50;
    --rz-series-6: #66bb6a;
    --rz-series-7: #81c784;
    --rz-series-8: #a5d6a7;
    --rz-series-9: #c8e6c8;
    --rz-series-10: #27ae60;
    --rz-series-11: #2ecc71;
    --rz-series-12: #52c41a;
    --rz-series-13: #73d13d;
    --rz-series-14: #95de64;
    --rz-series-15: #b7eb8f;
    --rz-series-16: #d9f7be;
    --rz-series-17: #237804;
    --rz-series-18: #389e0d;
    --rz-series-19: #52c41a;
    --rz-series-20: #73d13d;
    --rz-series-21: #95de64;
    --rz-series-22: #b7eb8f;
    --rz-series-23: #d9f7be;
    --rz-series-24: #f6ffed;
}

.scontainer {
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}

.scontainer::-webkit-scrollbar {
    display: none; /* Older Safari and Chromium */
}